@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}